{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-irregular-whitespace": "warn",
    "no-trailing-spaces": "warn",
    "eol-last": "warn",
    "no-multiple-empty-lines": [
      "warn",
      {
        "maxEOF": 0,
        "maxBOF": 0,
        "max": 1
      }
    ],
    "sort-imports": [
      "warn",
      {
        "ignoreDeclarationSort": true
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
