.inventory {
  background: black;
  color: white;
  border-radius: 0 0 0.75rem 0.75rem;
  padding: 0 0 0.25rem 0.5rem;

  > label {
    font-size: 90%;
    font-weight: bold;
    margin-right: 0.5rem;
  }

  .inventory-item {
    white-space: nowrap;
    display: inline-block;
    margin-right: 0.25rem;

    .item-name {
      border-radius: 50rem 0 0 50rem;
      padding-right: 0.35rem;
    }

    .item-quantity {
      border-radius: 0 50rem 50rem 0;
      padding-left: 0.35rem;
    }
  }

  .quantity {
    padding-left: 0.2rem;
    margin-left: 0.2rem;
    background: rgba(0, 0, 0, 0.5);
  }
}
