@import "~bootstrap/scss/bootstrap";
@import "../examples/chess/style";
@import "../examples/order/style";
@import "../examples/welcome/style";
@import "../domain/checkout/style";

.masthead {
  background: black;
  color: white;
}

.event-list .event .index {
  width: 2.5rem
}
