@import "~bootstrap/scss/bootstrap";
@import "../examples/chess/style";
@import "../examples/order/style";
@import "../examples/welcome/style";
@import "../domain/checkout/style";

.event-list .event {
  .index {
    width: 2.5rem
  }
  .comment {
    font-size: 80%;
    line-height: 1.25;
    margin: 0.25rem 0 0.5rem 2.75rem;
  }
}
